---
import Layout from "../layout/Layout.astro";
---

<Layout title="Bibliografía">
  <section class="py-10">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-6 text-lime-600 dark:text-lime-400">
        Bibliografía
      </h2>
      <ol class="list-decimal pl-8 space-y-6 text-gray-700 dark:text-gray-300">
        <li>
          <span class="font-semibold">O. a. D. A. a. J. A. Haris,</span>
          «Efficiency Analysis of Using Solar Panel System Tracker to Static Solar Panel,» de
          <span class="italic"
            >2021 IEEE 7th International Conference on Computing, Engineering and Design (ICCED)</span
          >, pp. 1-6, 2021.
        </li>
        <li>
          <span class="font-semibold">P. U. P. B. M. S. S. P. S. V. G. Krishna Kumba,</span>
          «Solar tracking systems: Advancements, challenges, and future directions: A review,» de
          <span class="italic"
            >Energy Reports</span
          >, vol. 12, pp. 3566-3583, 2024.
        </li>
        <li>
          <span class="font-semibold">M. T. C. A. H. A.-W. K. S. Hussein A. Kazem,</span>
          «Recent advancements in solar photovoltaic tracking systems: An in-depth review 
          of technologies, performance metrics, and future trends.,» de
          <span class="italic"
            >Solar Energy</span
          >, vol. 282, 2024.
        </li>
        <li>
          <span class="font-semibold">M. T. A. a. T. S. S. a. R. R. a. A. S. M. S. Khan,</span>
          «Design and construction of an automatic solar tracking system,» de
          <span class="italic"
            >International Conference on Electrical & Computer Engineering (ICECE 2010)</span
          >, pp. 326-329, 2010.
        </li>
        <li>
          <span class="font-semibold">P. Gevorkian,</span>
          «Solar-Tracking Systems,» de
          <span class="italic"
            >Large-Scale Solar Power System Design: An Engineering Guide for
            Grid-Connected Solar Power Generation, 1st Edition</span
          >, New York, McGraw-Hill Education, 2011.
        </li>
        <li>
          <span class="font-semibold">A.-H. I. a. S. H. a. A. N. a. A. A. H. a. I. M. a. A. A. S. Mourad,</span>
          «A state-of-the-art review: Solar trackers,» de
          <span class="italic"
            >2022 Advances in Science and Engineering Technology International Conferences (ASET)</span
          >, pp. 1-5, 2022.
        </li>
        <li>
          <span class="font-semibold">S. a. P. V. S. a. A. C. S. a. R. K. S. Venkateshwarlu,</span>
          «A Comparative Evaluation of Various Solar Trackers to Harness Maximum Energy - A Brief Review,» de
          <span class="italic"
            >2022 International Conference on Smart and Sustainable Technologies in Energy and Power Sectors (SSTEPS)</span
          >, Mahendragarh, 2022.
        </li>
        <li>
          <span class="font-semibold">P. Gevorkian,</span>
          «3. SOLAR POWER SYSTEM PHYSICS AND TECHNOLOGIES,» de
          <span class="italic"
            >Alternative Energy Systems in Building Design, 1st Edition</span
          >, New York, McGraw-Hill Education, 2010.
        </li>
        <li>
          <span class="font-semibold"
            >H. S. N., A. A. H., A. M. I., A. S. A., A. A., H. I. Mourad,</span
          >
          «IEEE Xplore,» 2022. [En línea]. Available: 
          <a
            href="https://ieeexplore-ieee-org.ezproxy.uv.mx/document/9735074"
            class="text-lime-600 dark:text-lime-400 hover:underline"
          >
            https://ieeexplore-ieee-org.ezproxy.uv.mx/document/9735074
          </a>. [Último acceso: 15/11/2024].
        </li>
        <li>
          <span class="font-semibold">A. S. a. R. V. M. a. S. Y. Z. a. L. D. Y. Petrusev,</span>
          «Solar tracker with active orientation,» de
          <span class="italic"
            >2016 2nd International Conference on Industrial Engineering, Applications and Manufacturing (ICIEAM)</span
          >, pp. 1-4, 2016.
        </li>
        <li>
          <span class="font-semibold">I. M. P. D. Y. S. E. S. A. A. Z. a. A. A. I. H. Rosma,</span>
          «Analysis of Single Axis Sun Tracker System to Increase Solar Photovoltaic Energy Production in the Tropics,,» de
          <span class="italic"
            >2018 2nd International Conference on Electrical Engineering and Informatics (ICon EEI)</span
          >, pp. 183-186, 2018.
        </li>
        <li>
          <span class="font-semibold">J. F. L. a. N. A. Rahim,</span>
          «Performance comparison of dual-axis solar tracker vs static solar system in Malaysia,,» de
          <span class="italic"
            >2013 IEEE Conference on Clean Energy and Technology (CEAT)</span
          >, Langkawi, Malaysia, 2013.
        </li>
      </ol>
    </div>
  </section>
</Layout>
