---
import Layout from "../layout/Layout.astro";
---

<Layout title="Inicio">
  <section class="py-10">
    <div class="container mx-auto px-4">
      <h2
        class="text-3xl font-bold text-center mb-6 text-lime-500 dark:text-lime-400"
      >
        Sobre los sistemas fotovoltaicos
      </h2>
      <p class="text-lg text-gray-700 dark:text-gray-300 mb-4 text-justify">
        Los sistemas fotovoltaicos son una fuente de energía limpia y renovable
        la cual aprovecha la radiación solar para convertirla en energía
        eléctrica, esta forma de generación se lleva a cabo gracias al efecto
        fotoeléctrico que consiste en absorber fotones o partículas lumínicas
        por medio de materiales especiales, posteriormente serán liberados en
        forma de electrones, creando así una corriente eléctrica.
      </p>
      <p class="text-lg text-gray-700 dark:text-gray-300 mb-4 text-justify">
        Para llevar a cabo este proceso es necesario un dispositivo
        semiconductor llamado celda fotovoltaica, dichas celdas pueden estar
        construidas por materiales semiconductores de capa fina y principalmente
        de silicio que a su vez pueden ser de silicio monocristalino,
        policristalino o amorfo.
      </p>
      <p
        class="text-lg text-gray-700 dark:text-gray-300 mb-4"
      >
        Las celdas solares de silicio monocristalino se fabrican a partir de un
        único cristal de silicio altamente puro, lo que les permite alcanzar
        niveles de eficiencia óptimos, que oscilan entre el 18% y el 20% en
        promedio. Este tipo de celdas es el más eficiente debido a la estructura
        ordenada y homogénea de su material. Por otro lado, las celdas solares
        de silicio policristalino se fabrican mediante la fundición de silicio
        en bloques a partir de varios cristales, lo que implica un proceso de
        fabricación más económico, pero también genera una menor eficiencia la
        cual oscila entre el 16% y el 17.5%, lo que los convierte en una opción
        más asequible. Finalmente, las celdas solares de silicio amorfo tienen
        una estructura cristalina desorganizada, lo que se traduce en una
        eficiencia aún menor, la cual va entre el 8% y 9%, gracias a esto, este
        tipo de celdas presentan la ventaja de ser considerablemente más
        económicos y lo que puede hacerlos atractivos para aplicaciones con
        menos exigencia de rendimiento energético.
      </p>
      <h2 class="text-3xl font-bold text-center mb-6 text-lime-500 dark:text-lime-400">
        Paneles solares fijos
</h2>
<p class="text-lg text-gray-700 dark:text-gray-300 mb-4 text-justify">
        Los paneles solares son una herramienta para convertir la energía solar 
        en electricidad. consisten en una estructura rectangular con una unidad 
        básica de transformación que es la celda solar. Un panel une sobre una 
        plancha varias de estas células, que se recubren con un plástico llamado 
        EVA. Este plástico puede aguantar condiciones y temperaturas extremas y, 
        además, permite que pase la luz, pero no los rayos ultravioletas. 
        Actualmente, muchas personas los utilizan como fuente de energía eléctrica 
        renovable, pero la fluctuación en la potencia de salida del panel solar se 
        debe principal a su instalación, que actualmente se instala de forma estática 
        en lugares expuestos a la luz solar, de modo que la potencia de salida 
        producida disminuirá cuando la dirección de la luz solar no sea perpendicular 
        al panel solar.
      </p>
      <h2 class="text-3xl font-bold text-center mb-6 text-lime-500 dark:text-lime-400">
        Seguidores Solares
</h2>
<p class="text-lg text-gray-700 dark:text-gray-300 mb-4 text-justify">
        Son máquinas que se utilizan para posicionar módulos solares o conjuntos 
        fotovoltaicos en la dirección de la luz solar en cualquier momento posible 
        del día. Los seguidores solares también se pueden clasificar en función del 
        tipo de sistema de control utilizado o de la cantidad de flexibilidad en el 
        movimiento.
        
        Optimizar la captura de energía solar es crucial a medida que la demanda 
        de fuentes de energía renovable continúa aumentando, es por ello que en esta 
        investigación se informará de varios tipos de seguidores solares, incluidos 
        los sistemas de seguimiento solar pasivos, activos, de un solo eje, de doble 
        eje y se analiza su comportamiento y rendimiento en diferentes condiciones. 
      <div class="flex justify-center mt-6">
        <a
          href="/seguidores-solares"
          class="bg-lime-500 text-white px-6 py-2 rounded-md hover:bg-lime-600 transition-all duration-300 dark:bg-lime-600 dark:hover:bg-lime-700"
        >
          Más Información
        </a>
      </div>
    </div>
  </section>
</Layout>
