---
interface Props {
  title: string;
}

const currentPath = Astro.url.pathname;
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Información y recursos sobre seguidores solares, sistemas que optimizan el rendimiento de los paneles solares ajustando su orientación hacia el sol."
    />
    <meta
      name="keywords"
      content="seguidores solares, energía solar, paneles solares, tecnologías renovables, optimización solar"
    />
    <meta name="theme-color" content="#84cc16" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Descubre más sobre los seguidores solares, cómo funcionan, los tipos disponibles y cómo maximizan la eficiencia de los sistemas solares."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/transcurso_del_seguidor.jpg" />
    <title>{title} | Solar Tracker</title>
  </head>
  <body class="bg-gray-100 dark:bg-zinc-900 transition-colors duration-300">
    <header>
      <nav
        class="bg-gradient-to-r from-lime-500 to-teal-500 text-white flex flex-col sm:flex-row justify-between items-center p-4 shadow-lg"
      >
        <a
          href="/"
          class="w-full sm:w-auto flex justify-center sm:justify-start mb-2 sm:mb-0"
        >
          <img src="/logo.png" alt="Solar Trackers" class="h-12" />
        </a>
        <div
          class="flex flex-row flex-wrap justify-center sm:justify-end items-center w-full space-x-4"
        >
          <a
            href="/"
            class={`hover:underline ${currentPath === "/" ? "font-bold text-yellow-300" : ""}`}
          >
            Inicio
          </a>
          <a
            href="/seguidores-solares"
            class={`hover:underline ${
              currentPath === "/seguidores-solares/"
                ? "font-bold text-yellow-300"
                : ""
            }`}
          >
            Seguidores Solares
          </a>
          <a
            href="/tipo-seguidores"
            class={`hover:underline ${
              currentPath === "/tipo-seguidores/"
                ? "font-bold text-yellow-300"
                : ""
            }`}
          >
            Tipo de Seguidores
          </a>
          <a
            href="/proveedores"
            class={`hover:underline ${
              currentPath === "/proveedores/" ? "font-bold text-yellow-300" : ""
            }`}
          >
            Proveedores
          </a>
          <a
            href="/nosotros"
            class={`hover:underline ${
              currentPath === "/nosotros/" ? "font-bold text-yellow-300" : ""
            }`}
          >
            Nosotros
          </a>
          <a
            href="/bibliografia"
            class={`hover:underline ${
              currentPath === "/bibliografia/" ? "font-bold text-yellow-300" : ""
            }`}
          >
            Bibliografía
          </a>
        </div>
      </nav>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
